## **Movie Recommendation System**

In [5]:
import torch
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from torch.utils.data import Dataset, DataLoader, SequentialSampler, BatchSampler, TensorDataset
from tqdm import tqdm
from IPython.display import display, clear_output
import random
import os
from sklearn.model_selection import KFold
import copy


def seed_everything(seed=1234):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.backends.cudnn.deterministic = True
seed_everything()

## **Read Dataset**

In [8]:
df = pd.read_csv('ml-latest-small/ratings.csv')

In [9]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## **Data Investigation**

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [11]:
df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
df.rating.unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

---------------------------------------------------------------------------------------------------------

## **Data Preprocessing**

In [14]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
df_train = df.groupby('userId').head(-2).reset_index(drop=True)
df_test = df.groupby('userId').tail(2).reset_index(drop=True)

In [16]:
df_copy = df
df_copy['Train'] = (df_copy.groupby(['userId']).cumcount(ascending=False) != 0).replace({True:1, False:0})
df_copy[['userId','movieId','Train']].head()

   userId  movieId  Train
0       1        1      1
1       1        3      1
2       1        6      1
3       1       47      1
4       1       50      1

In [17]:
df_copy.to_csv("train.csv")

In [18]:
df_copy = df[df['Train'] == 1].copy()
df_copy['ones'] = 1

history = df_copy.pivot_table(index='userId', columns='movieId', values='ones', fill_value=0)

In [19]:
history.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,190219,191005,193565,193567,193571,193573,193579,193581,193583,193585
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
history_norm = history / history.values.sum(axis=1, keepdims=True)
history_norm

movieId,1,2,3,4,5,6,7,8,9,10,...,190219,191005,193565,193567,193571,193573,193579,193581,193583,193585
userId,,,,,,,,,,,,,,,,,,,,,
1,0.004329,0.000000,0.004329,0.0,0.0,0.004329,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.023256,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.000898,0.000000,0.000000,0.0,0.0,0.000000,0.000898,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.005376,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.001205,0.001205,0.001205,0.0,0.0,0.000000,0.000000,0.0,0.0,0.001205,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,0.027778,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.027778,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,0.000769,0.000000,0.000000,0.0,0.0,0.000769,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
history_norm.shape

(610, 9665)

In [22]:
user_movie = df[['userId','movieId']]
user_movie.head()

   userId  movieId
0       1        1
1       1        3
2       1        6
3       1       47
4       1       50

In [23]:
active_encoder = OneHotEncoder(sparse_output=False).fit(user_movie)

In [29]:
active_user_movie = pd.DataFrame(
    active_encoder.transform(
        df[active_encoder.feature_names_in_]
    ),
    columns=active_encoder.get_feature_names_out()
)

In [24]:
new_df = pd.concat([user_movie, df.timestamp, df.Train, df.rating], axis=1)
new_df

        userId  movieId   timestamp  Train  rating
0            1        1   964982703      1     4.0
1            1        3   964981247      1     4.0
2            1        6   964982224      1     4.0
3            1       47   964983815      1     5.0
4            1       50   964982931      1     5.0
...        ...      ...         ...    ...     ...
100831     610   166534  1493848402      1     4.0
100832     610   168248  1493850091      1     5.0
100833     610   168250  1494273047      1     5.0
100834     610   168252  1493846352      1     5.0
100835     610   170875  1493846415      0     3.0

[100836 rows x 5 columns]

In [25]:
train = new_df[new_df.Train == 1]
test = new_df[new_df.Train == 0]

In [26]:
len(df.movieId.unique())

9724

# **Model Building**

In [127]:
class DPMovieDataset(Dataset):
  def __init__(self, user_ids:np.ndarray, data: pd.DataFrame, agg_hist: pd.DataFrame, active_encoder: OneHotEncoder, recommendation: bool=False):
    self.user_ids = user_ids
    self.data = data
    self.agg_hist = agg_hist
    self.active_encoder = active_encoder
    self.recommendation = recommendation

  def __len__(self):
    return self.user_ids.shape[0]

  def __getitem__(self, idx):
    batch_data = self.data.iloc[idx] # Select the rows corresponding to the list of user indices `idx` from self.data dataframe
    agg_history = batch_data[['userId']].merge(self.agg_hist, left_on='userId', right_index=True) # Get the aggregated history for each selected transaction using merge
    others = batch_data[['timestamp']]
    active_groups = self.active_encoder.transform(batch_data[self.active_encoder.feature_names_in_]) # Use active_encoder to generate the active columns for user/item pairs available in batch_data
    features = torch.from_numpy(np.hstack((active_groups, agg_history.values))) # Concatenate the processed columns together horizontally

    if not self.recommendation:
      targets = batch_data['rating']
      return features, targets
    else:
      return features

In [128]:
dataset_train = DPMovieDataset(df.userId.unique(), train, history_norm, active_encoder)
dataset_test = DPMovieDataset(df.userId.unique(), test, history_norm, active_encoder)

In [32]:
dataloader_train = DataLoader(
    dataset_train,
    sampler=BatchSampler(SequentialSampler(dataset_train), batch_size=20, drop_last=False),
    batch_size=None)

dataloader_test = DataLoader(
    dataset_test,
    sampler=BatchSampler(SequentialSampler(dataset_test), batch_size=20, drop_last=False),
    batch_size=None)

In [33]:
class FactorizationMachine(torch.nn.Module):
  def __init__(self, n, k, bias=False):
    super(FactorizationMachine, self).__init__()
    self.n = n
    self.k = k
    self.linear = torch.nn.Linear(self.n, 1, bias)
    self.V = torch.nn.Parameter(torch.randn(n,k)) # Creating the latent matrix V of size (n X k) and initializing it with random values

  def forward(self, x_batch):
    x_batch = x_batch.float()
    part_1 = torch.matmul(x_batch, self.V).pow(2).sum(dim=1)  # perform the first part of the interaction term: row-wise-sum((XV)^2)
    part_2 = torch.matmul(x_batch.pow(2), self.V.pow(2)).sum(dim=1)  # perform the second part of the interaction term: row-wise-sum((X)^2 * (V)^2))
    inter_term = (part_1 - part_2) * 0.5 # Put the interaction term parts together (refer to the equations above)
    var_strength = self.linear(x_batch).squeeze(dim=1)  # Perform the linear part of the model equation (refer to the demo notebook on how to use layers in pytorch models)

    return var_strength + inter_term

In [34]:
for x, y in dataloader_train:
    print(x.shape)

torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])

torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([20, 20000])
torch.Size([10, 20000])

In [35]:
model = FactorizationMachine(n=20000, k=20)

# **Model Training**

In [36]:
def model_step(mode, x, y=None, optimizer=None, train=True):
  if train: # If we're in training phase, then zero the gradients and make sure the model is set to train
    model.train()
    optimizer.zero_grad()
  else: # If we're in evaluation phase, then make sure the model is set to eval
    model.eval()

  with torch.set_grad_enabled(train): # Either to perform the next lines with gradient tracing or not
    pred = model(x) # Get the model output from x
    pred = pred.reshape(pred.shape[0], ) # Flatten the prediction values

    y = torch.from_numpy(y.values.reshape(y.shape[0], )).float()

    criterion = torch.nn.MSELoss() # Define the criterion as MSELoss from torch
    loss = criterion(pred, y)

    if train:
      loss.backward()
      optimizer.step()
    else:
      return loss, pred

  return loss

In [37]:
def train_loop(model, train_loader, eval_loader, lr, w_decay, epochs, eval_step):
  step = 0
  """ Defining our optimizer """
  optimizer = torch.optim.Adam(model.parameters(), lr=lr, weight_decay=w_decay)

  epochs_l, steps, t_losses, v_losses = [], [], [], []

  epochs_tqdm = tqdm(range(epochs), desc='Training in Progress', leave=True)
  for epoch in epochs_tqdm:
    for x, y in train_loader:
      loss_batch = model_step(model, x, y, optimizer, train=True)
      step +=1
      if step % eval_step == 0:
        train_loss = loss_batch
        val_loss = 0
        for x, y in eval_loader:
          val_loss += model_step(model, x, y, train=False)[0]

        steps.append(step)
        t_losses.append(train_loss.detach().numpy())
        v_losses.append(val_loss.detach().numpy())
        epochs_l.append(epoch+1)
        clear_output(wait=True)
        display(pd.DataFrame({'Epoch': epochs_l, 'Step': steps, 'Training Loss': t_losses, 'Validation Loss': v_losses}))

        optimizer.zero_grad()

In [750]:
train_loop(model, dataloader_train, dataloader_test, lr=0.004, w_decay=0.0003, epochs=2500, eval_step=2500)

    Epoch   Step  Training Loss Validation Loss
0      81   2500     0.01249405       1995038.2
1     162   5000  0.00078166474       1794947.1
2     242   7500   0.0025054931       1862817.1
3     323  10000     0.09085606       1885066.0
4     404  12500  0.00014715325       1925194.8
5     484  15000    0.010368319       1883792.0
6     565  17500    0.003917676       1683660.0
7     646  20000     0.06885128       1829339.4
8     726  22500  9.9842495e-05       1748863.6
9     807  25000   0.0008763955       1896376.2
10    888  27500   0.0074501648       1874280.8
11    968  30000    0.001970859       2024149.0
12   1049  32500    0.017852718       1791074.1
13   1130  35000    0.029698813       1598214.4
14   1210  37500   0.0007118484       1660505.4
15   1291  40000    0.001068745       1960390.1
16   1371  42500   0.0045662816       1680018.9
17   1452  45000    0.015584938       1849128.5
18   1533  47500  0.00012828778       1681399.2
19   1613  50000   0.0012723457       1546473.0
20   1694  52500      0.2711801       1809835.9
21   1775  55000   0.0025340857       1634097.0
22   1855  57500     0.21365559       1922595.1
23   1936  60000      0.4081828       1619647.0
24   2017  62500  6.9675305e-05       1838818.9
25   2097  65000    0.030871082       1828274.8
26   2178  67500  0.00041762023       1682530.4
27   2259  70000    0.013341285       1882726.8
28   2339  72500   9.666337e-05       1904264.5
29   2420  75000     0.24427168       1697715.5
30   2500  77500   0.0030102972       1949203.8

Training in Progress: 100%|██████████| 2500/2500 [35:46<00:00,  1.16it/s]

In [ ]:
train_loop(model, dataloader_train, dataloader_test, lr=0.00004, w_decay=0.8, epochs=2500, eval_step=2500)

    Epoch   Step Training Loss Validation Loss
0      81   2500    0.47550693       1650423.4
1     162   5000    0.49834624       1658930.4
2     242   7500      0.525947       1673756.8
3     323  10000     0.9536068       1688523.5
4     404  12500    0.62350667       1702503.1
5     484  15000     0.9604079       1718183.6
6     565  17500      1.946258       1737076.6
7     646  20000     0.8570792       1760712.6
8     726  22500    0.88092434       1790356.5
9     807  25000     3.1751926       1824812.0
10    888  27500     1.2042964       1864628.0
11    968  30000      1.901606       1909826.8
12   1049  32500      1.705217       1957775.1
13   1130  35000       1.40951       2009430.1
14   1210  37500     1.4367657       2063712.9
15   1291  40000      2.187323       2117913.5
16   1371  42500     0.6722964       2173235.5
17   1452  45000     1.9131101       2227431.8
18   1533  47500     1.7346169       2278838.2
19   1613  50000     0.6752515       2329448.0
20   1694  52500     1.9124129       2376816.2
21   1775  55000     1.5385596       2420814.5
22   1855  57500     0.9652275       2463795.8
23   1936  60000     4.2116385       2502897.5
24   2017  62500     2.3109288       2539227.0
25   2097  65000     1.4531579       2574658.2
26   2178  67500     2.5435085       2606267.2
27   2259  70000     1.2030785       2635637.2
28   2339  72500      1.667394       2664134.2
29   2420  75000     1.8067154       2688944.2
30   2500  77500     0.6222745       2712643.5

Training in Progress: 100%|██████████| 2500/2500 [27:27<00:00,  1.52it/s]

In [137]:
obs = dataset_test[[10]]
obs

(tensor([[0., 0., 0.,  ..., 0., 0., 0.]], dtype=torch.float64),
 1322    5.0
 Name: rating, dtype: float64)

In [138]:
model.eval()
with torch.no_grad():
  print(f'Predicted rating for User of interest: {model_step(model, obs[0], obs[1], train=False)}') # Get the model output on the user of interest after running the previous cell to now their new_id
  print(f'Actual Rating: {obs[1].values}')

Predicted rating for User of interest: (tensor(1130.7527), tensor([38.6267]))
Actual Rating: [5.]

---------------------------------------------

##### **Because Factorization Machine is very simple and naive model and it's a accuracy isn't good, So we will use factroization machines build-in model in DeepCTR-Torch library called DeepFM**

In [61]:
movies = pd.read_csv('ml-latest-small/movies.csv')

In [64]:
links = pd.read_csv('ml-latest-small/links.csv')

##### **References**
- https://www.kaggle.com/code/leejunseok97/deepfm-movie-len-pytorch 
- https://deepctr-torch.readthedocs.io/en/latest/deepctr_torch.models.deepfm.html

## **Another Model (Implemented)**

In [ ]:
pip install deepctr_torch

In [75]:
import gc 
from deepctr_torch.inputs import SparseFeat, VarLenSparseFeat, get_feature_names
from deepctr_torch.models import DeepFM
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf

In [115]:
df_ = df.copy()
complete_train_df = df_.merge(movies, how='left', on=['movieId'])[df_.Train == 1]

In [116]:
complete_test_df = df_.merge(movies[['movieId', 'genres']], how='left', on=['movieId'])[df_.Train == 0]

In [117]:
complete_train_df = complete_train_df.merge(links[['imdbId', 'movieId']], how='left', on=['movieId'])

In [118]:
complete_train_df.shape, complete_test_df.shape

((100226, 8), (610, 6))

In [119]:
complete_train_df.head()

,userId,movieId,rating,timestamp,Train,title,genres,imdbId
0,1,1,4.0,964982703,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
1,1,3,4.0,964981247,1,Grumpier Old Men (1995),Comedy|Romance,113228
2,1,6,4.0,964982224,1,Heat (1995),Action|Crime|Thriller,113277
3,1,47,5.0,964983815,1,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,114369
4,1,50,5.0,964982931,1,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814

In [120]:
complete_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100226 entries, 0 to 100225
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100226 non-null  int64
 1   movieId    100226 non-null  int64
 2   rating     100226 non-null  float64
 3   timestamp  100226 non-null  int64
 4   Train      100226 non-null  int64
 5   title      100226 non-null  object
 6   genres     100226 non-null  object
 7   imdbId     100226 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 6.1+ MB

### **Training**

In [571]:
def split(x):
    key_ans = x.split('|')
    for key in key_ans:
        if key not in key2index:
            key2index[key] = len(key2index) + 1
    return list(map(lambda x: key2index[x], key_ans))



if __name__ == "__main__":
    data = complete_train_df
    sparse_features = ["userId", "movieId"]
    target = ['rating']

    # 1.Label Encoding for sparse features,and process sequence features
    for feat in sparse_features:
        lbe = LabelEncoder()
        # ohe = OneHotEncoder()
        data[feat] = lbe.fit_transform(data[feat])

    key2index = {}
    genres_list = list(map(split, data['genres'].values))
    genres_length = np.array(list(map(len, genres_list)))
    max_len = max(genres_length)
    # Notice : padding=`post`
    genres_list = tf.keras.utils.pad_sequences(genres_list, maxlen=max_len, padding='post', )

    # 2.count #unique features for each sparse field and generate feature config for sequence feature

    fixlen_feature_columns = [SparseFeat(feat, data[feat].nunique(), embedding_dim=4)
                              for feat in sparse_features]

    varlen_feature_columns = [VarLenSparseFeat(SparseFeat('genres', vocabulary_size=len(
        key2index) + 1, embedding_dim=4), maxlen=max_len, combiner='mean')]  # Notice : value 0 is for padding for sequence input feature
    
    linear_feature_columns = fixlen_feature_columns + varlen_feature_columns
    dnn_feature_columns = fixlen_feature_columns + varlen_feature_columns

    feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

    # 3.generate input data for model
    model_input = {name: data[name] for name in sparse_features}  #
    model_input["genres"] = genres_list

    # 4.Define Model,compile and train

    device = 'cpu'
    use_cuda = True
    if use_cuda and torch.cuda.is_available():
        print('cuda ready...')
        device = 'cuda:0'

    model = DeepFM(linear_feature_columns, dnn_feature_columns, task='regression', device=device)

    model.compile("adam", "mse", metrics=['mse'], )
    history = model.fit(model_input, data[target].values, batch_size=256, epochs=100, verbose=2)

cpu
Train on 100226 samples, validate on 0 samples, 392 steps per epoch
Epoch 1/100
3s - loss:  1.6019 - mse:  1.6008
Epoch 2/100
3s - loss:  0.7109 - mse:  0.7110
Epoch 3/100
3s - loss:  0.6848 - mse:  0.6849
Epoch 4/100
3s - loss:  0.6725 - mse:  0.6726
Epoch 5/100
3s - loss:  0.6664 - mse:  0.6664
Epoch 6/100
3s - loss:  0.6609 - mse:  0.6608
Epoch 7/100
3s - loss:  0.6580 - mse:  0.6580
Epoch 8/100
4s - loss:  0.6555 - mse:  0.6553
Epoch 9/100
3s - loss:  0.6541 - mse:  0.6542
Epoch 10/100
3s - loss:  0.6520 - mse:  0.6520
Epoch 11/100
3s - loss:  0.6508 - mse:  0.6508
Epoch 12/100
3s - loss:  0.6497 - mse:  0.6499
Epoch 13/100
3s - loss:  0.6479 - mse:  0.6480
Epoch 14/100
3s - loss:  0.6475 - mse:  0.6473
Epoch 15/100
3s - loss:  0.6479 - mse:  0.6479
Epoch 16/100
3s - loss:  0.6464 - mse:  0.6463
Epoch 17/100
3s - loss:  0.6459 - mse:  0.6457
Epoch 18/100
3s - loss:  0.6454 - mse:  0.6458
Epoch 19/100
3s - loss:  0.6435 - mse:  0.6437
Epoch 20/100
3s - loss:  0.6435 - mse:  0.6436
Epoch 21/100
3s - loss:  0.6430 - mse:  0.6429
Epoch 22/100
3s - loss:  0.6420 - mse:  0.6417
Epoch 23/100
3s - loss:  0.6412 - mse:  0.6409
Epoch 24/100
3s - loss:  0.6410 - mse:  0.6410
Epoch 25/100
3s - loss:  0.6401 - mse:  0.6400
Epoch 26/100
3s - loss:  0.6390 - mse:  0.6390
Epoch 27/100
3s - loss:  0.6388 - mse:  0.6389
Epoch 28/100
3s - loss:  0.6387 - mse:  0.6387
Epoch 29/100
3s - loss:  0.6376 - mse:  0.6375
Epoch 30/100
3s - loss:  0.6359 - mse:  0.6360
Epoch 31/100
3s - loss:  0.6340 - mse:  0.6340
Epoch 32/100
3s - loss:  0.6322 - mse:  0.6320
Epoch 33/100
3s - loss:  0.6297 - mse:  0.6298
Epoch 34/100
3s - loss:  0.6268 - mse:  0.6266
Epoch 35/100
4s - loss:  0.6237 - mse:  0.6235
Epoch 36/100
4s - loss:  0.6213 - mse:  0.6211
Epoch 37/100
3s - loss:  0.6178 - mse:  0.6177
Epoch 38/100
3s - loss:  0.6147 - mse:  0.6144
Epoch 39/100
3s - loss:  0.6108 - mse:  0.6108
Epoch 40/100
3s - loss:  0.6078 - mse:  0.6078
Epoch 41/100
3s - loss:  0.6046 - mse:  0.6045
Epoch 42/100
3s - loss:  0.6018 - mse:  0.6017
Epoch 43/100
3s - loss:  0.5991 - mse:  0.5991
Epoch 44/100
3s - loss:  0.5926 - mse:  0.5925
Epoch 45/100
4s - loss:  0.5839 - mse:  0.5837
Epoch 46/100
3s - loss:  0.5745 - mse:  0.5747
Epoch 47/100
3s - loss:  0.5657 - mse:  0.5656
Epoch 48/100
3s - loss:  0.5597 - mse:  0.5596
Epoch 49/100
3s - loss:  0.5532 - mse:  0.5531
Epoch 50/100
3s - loss:  0.5491 - mse:  0.5494
Epoch 51/100
3s - loss:  0.5426 - mse:  0.5424
Epoch 52/100
3s - loss:  0.5355 - mse:  0.5354
Epoch 53/100
3s - loss:  0.5281 - mse:  0.5279
Epoch 54/100
3s - loss:  0.5224 - mse:  0.5224
Epoch 55/100
3s - loss:  0.5188 - mse:  0.5187
Epoch 56/100
3s - loss:  0.5144 - mse:  0.5145
Epoch 57/100
3s - loss:  0.5112 - mse:  0.5109
Epoch 58/100
3s - loss:  0.5081 - mse:  0.5080
Epoch 59/100
3s - loss:  0.5059 - mse:  0.5058
Epoch 60/100
3s - loss:  0.5031 - mse:  0.5031
Epoch 61/100
3s - loss:  0.4998 - mse:  0.4997
Epoch 62/100
3s - loss:  0.4972 - mse:  0.4972
Epoch 63/100
3s - loss:  0.4946 - mse:  0.4944
Epoch 64/100
3s - loss:  0.4924 - mse:  0.4923
Epoch 65/100
3s - loss:  0.4869 - mse:  0.4867
Epoch 66/100
4s - loss:  0.4833 - mse:  0.4832
Epoch 67/100
3s - loss:  0.4797 - mse:  0.4795
Epoch 68/100
3s - loss:  0.4752 - mse:  0.4752
Epoch 69/100
3s - loss:  0.4713 - mse:  0.4713
Epoch 70/100
3s - loss:  0.4680 - mse:  0.4679
Epoch 71/100
3s - loss:  0.4649 - mse:  0.4649
Epoch 72/100
3s - loss:  0.4618 - mse:  0.4616
Epoch 73/100
3s - loss:  0.4588 - mse:  0.4588
Epoch 74/100
3s - loss:  0.4558 - mse:  0.4556
Epoch 75/100
3s - loss:  0.4536 - mse:  0.4535
Epoch 76/100
3s - loss:  0.4519 - mse:  0.4518
Epoch 77/100
3s - loss:  0.4488 - mse:  0.4487
Epoch 78/100
3s - loss:  0.4477 - mse:  0.4476
Epoch 79/100
3s - loss:  0.4457 - mse:  0.4457
Epoch 80/100
3s - loss:  0.4440 - mse:  0.4439
Epoch 81/100
3s - loss:  0.4422 - mse:  0.4422
Epoch 82/100
3s - loss:  0.4399 - mse:  0.4396
Epoch 83/100
3s - loss:  0.4389 - mse:  0.4387
Epoch 84/100
4s - loss:  0.4370 - mse:  0.4369
Epoch 85/100
3s - loss:  0.4355 - mse:  0.4353
Epoch 86/100
3s - loss:  0.4339 - mse:  0.4337
Epoch 87/100
3s - loss:  0.4327 - mse:  0.4326
Epoch 88/100
4s - loss:  0.4321 - mse:  0.4321
Epoch 89/100
3s - loss:  0.4306 - mse:  0.4304
Epoch 90/100
4s - loss:  0.4290 - mse:  0.4289
Epoch 91/100
4s - loss:  0.4274 - mse:  0.4274
Epoch 92/100
4s - loss:  0.4258 - mse:  0.4258
Epoch 93/100
3s - loss:  0.4244 - mse:  0.4242
Epoch 94/100
3s - loss:  0.4236 - mse:  0.4234
Epoch 95/100
4s - loss:  0.4229 - mse:  0.4228
Epoch 96/100
3s - loss:  0.4212 - mse:  0.4211
Epoch 97/100
4s - loss:  0.4202 - mse:  0.4201
Epoch 98/100
4s - loss:  0.4193 - mse:  0.4193
Epoch 99/100
3s - loss:  0.4176 - mse:  0.4176
Epoch 100/100
5s - loss:  0.4167 - mse:  0.4166

In [569]:
model_input['userId']

0           0
1           0
2           0
3           0
4           0
         ...
100221    609
100222    609
100223    609
100224    609
100225    609
Name: userId, Length: 100226, dtype: int64

In [711]:
model_input['userId'][550]

4

In [612]:
model_input['movieId']

0            0
1            2
2            5
3           43
4           46
          ...
100221    9380
100222    9381
100223    9405
100224    9406
100225    9407
Name: movieId, Length: 100226, dtype: int64

In [613]:
model_input['genres'][10]

array([ 7,  6, 14,  0,  0,  0,  0,  0,  0,  0])

In [614]:
[11, 2028] + split('Action|Drama|War')

[11, 2028, 7, 12, 13]

### **Testing**

In [621]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
key2index = {}
def model_step(data):

    sparse_features = ["userId", "movieId"]

    # 1.Label Encoding for sparse features,and process sequence features
    for feat in sparse_features:
        lbe = LabelEncoder()
        # ohe = OneHotEncoder()
    #     print(type(data[feat]))
        data[feat] = lbe.fit_transform(data[feat])
    #     print(type(data[feat]))

    genres_list = list(map(split, data['genres'].values))
    genres_length = np.array(list(map(len, genres_list)))
    max_len = max(genres_length)
    
    # 3.generate input data for model
    model_input = {name: pd.Series(int(data[name])) for name in sparse_features}  #
    genres_list[0] += (10 - len(genres_list[0])) * [0]
    model_input["genres"] = np.array(genres_list)

    return model_input

In [622]:
tt = pd.DataFrame(complete_test_df.iloc[1].values, index=complete_test_df.columns).T
tt

  userId movieId rating   timestamp Train       genres
0      2  131724    5.0  1445714851     0  Documentary

In [712]:
obs = model_step(pd.DataFrame(complete_test_df.iloc[69].values, index=complete_test_df.columns).T)

C:\Users\maham\AppData\Local\Temp\ipykernel_17928\4261851175.py:20: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  model_input = {name: pd.Series(int(data[name])) for name in sparse_features}  #

In [714]:
obs

{'userId': 0    0
 dtype: int64,
 'movieId': 0    0
 dtype: int64,
 'genres': array([[1, 2, 0, 0, 0, 0, 0, 0, 0, 0]])}

In [626]:
model.predict(obs)

array([[5.68309593]])

------------------------------

In [109]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [110]:
movies[movies.movieId == 1].genres.values[0].split('|')

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

# **Our App**

### **Unique Users and Movies**

In [417]:
len(movies.movieId.unique())

9742

In [418]:
unique_users = df.userId.unique()
unique_movies = df.movieId.unique()
unique_users[0], unique_movies

(1, array([     1,      3,      6, ..., 160836, 163937, 163981], dtype=int64))

### **Movies Rated By User**

In [474]:
def user_rated_movies(user_id):
    items_our_user_rated = sorted(complete_train_df[complete_train_df.userId==user_id][['movieId', 'title', 'genres','rating']].values, key=lambda x: x[1])
    return items_our_user_rated

### **Movies Recommended For User**

In [706]:
import pickle

saved_model = "model.pkl"
with open(saved_model, 'wb') as file:
    pickle.dump(model, file)

In [708]:
with open(saved_model, 'rb') as file:
    DeepFM_model = pickle.load(file)

In [475]:
def not_watched(user_id):
    items_our_user_can_rate = data[~data.userId.isin(user_rated_movies(user_id))].movieId.values
    return items_our_user_can_rate

In [668]:
data['prediction'] = 0

In [709]:
def user_recommends(user_id):
    obs = {}
    
    not_watched_list = data[~data.userId.isin(user_rated_movies(user_id))][data.userId == user_id].values
    for movie_info in not_watched_list:

        obs['userId'] = pd.Series(0, LabelEncoder().fit_transform(np.array([user_id])))
        obs['movieId'] = pd.Series(0, LabelEncoder().fit_transform(np.array([movie_info[1]])))
        obs['genres'] = np.array(split(movie_info[6])).reshape(1, -1)
        data.loc[(data.userId == user_id) & (data.movieId == movie_info[1]), 'prediction'] = DeepFM_model.predict(obs)[0][0]
    
    return sorted(data[data.userId == user_id].values, key=lambda x: x[-1], reverse=True)

In [710]:
user_recommends(0)

[array([0, 913, 5.0, 964982951, 1, 'Goodfellas (1990)', 'Crime|Drama',
        99685, 5.925660133361816], dtype=object),
 array([0, 1331, 5.0, 964983034, 1, 'Newton Boys, The (1998)',
        'Crime|Drama', 120769, 5.925660133361816], dtype=object),
 array([0, 1733, 5.0, 964983263, 1, 'American History X (1998)',
        'Crime|Drama', 120586, 5.925660133361816], dtype=object),
 array([0, 2369, 5.0, 964983873, 1, 'Green Mile, The (1999)',
        'Crime|Drama', 120689, 5.925660133361816], dtype=object),
 array([0, 734, 5.0, 964983219, 1, 'Mr. Smith Goes to Washington (1939)',
        'Drama', 31679, 5.91655969619751], dtype=object),
 array([0, 1430, 5.0, 964982176, 1, 'Rocky (1976)', 'Drama', 75148,
        5.91655969619751], dtype=object),
 array([0, 995, 5.0, 964984086, 1, 'Pink Floyd: The Wall (1982)',
        'Drama|Musical', 84503, 5.801673412322998], dtype=object),
 array([0, 1686, 4.0, 964982989, 1, 'Few Good Men, A (1992)',
        'Crime|Drama|Thriller', 104257, 5.763352870941162], dtype=object),
 array([0, 2385, 4.0, 964982495, 1, 'Easy Rider (1969)', 'Adventure|Drama',
        64276, 5.748315811157227], dtype=object),
 array([0, 1125, 4.0, 964980875, 1, 'Best Men (1997)',
        'Action|Comedy|Crime|Drama', 118702, 5.74567174911499],
       dtype=object),
 array([0, 1474, 4.0, 964982211, 1, 'Lethal Weapon (1987)',
        'Action|Comedy|Crime|Drama', 93409, 5.74567174911499], dtype=object),
 array([0, 257, 3.0, 964982967, 1, 'Pulp Fiction (1994)',
        'Comedy|Crime|Drama|Thriller', 110912, 5.7453131675720215],
       dtype=object),
 array([0, 520, 5.0, 964982931, 1, 'Fargo (1996)',
        'Comedy|Crime|Drama|Thriller', 116282, 5.7453131675720215],
       dtype=object),
 array([0, 485, 5.0, 964984153, 1, 'Tombstone (1993)',
        'Action|Drama|Western', 108358, 5.697979927062988], dtype=object),
 array([0, 201, 4.0, 964980908, 1, 'Ed Wood (1994)', 'Comedy|Drama',
        109707, 5.683095932006836], dtype=object),
 array([0, 436, 3.0, 964981208, 1, 'Mrs. Doubtfire (1993)', 'Comedy|Drama',
        107614, 5.683095932006836], dtype=object),
 array([0, 797, 4.0, 964981179, 1, 'That Thing You Do! (1996)',
        'Comedy|Drama', 117887, 5.683095932006836], dtype=object),
 array([0, 810, 4.0, 964980924, 1, 'Swingers (1996)', 'Comedy|Drama',
        117802, 5.683095932006836], dtype=object),
 array([0, 1795, 5.0, 964981093, 1, 'Rushmore (1998)', 'Comedy|Drama',
        128445, 5.683095932006836], dtype=object),
 array([0, 1955, 5.0, 964981144, 1, 'SLC Punk! (1998)', 'Comedy|Drama',
        133189, 5.683095932006836], dtype=object),
 array([0, 705, 5.0, 964981529, 1, 'Citizen Kane (1941)', 'Drama|Mystery',
        33467, 5.662105560302734], dtype=object),
 array([0, 1075, 3.0, 964983017, 1, 'Sneakers (1992)',
        'Action|Comedy|Crime|Drama|Sci-Fi', 105435, 5.6588311195373535],
       dtype=object),
 array([0, 906, 5.0, 964983737, 1, 'Clockwork Orange, A (1971)',
        'Crime|Drama|Sci-Fi|Thriller', 66921, 5.6496686935424805],
       dtype=object),
 array([0, 1903, 5.0, 964982242, 1, 'Planet of the Apes (1968)',
        'Action|Drama|Sci-Fi', 63442, 5.644777774810791], dtype=object),
 array([0, 508, 4.0, 964982546, 1, 'Dances with Wolves (1990)',
        'Adventure|Drama|Western', 99348, 5.638243675231934], dtype=object),
 array([0, 307, 4.0, 964982563, 1, 'Clear and Present Danger (1994)',
        'Action|Crime|Drama|Thriller', 109444, 5.630898475646973],
       dtype=object),
 array([0, 1180, 5.0, 964982290, 1, 'Face/Off (1997)',
        'Action|Crime|Drama|Thriller', 119094, 5.630898475646973],
       dtype=object),
 array([0, 2223, 5.0, 964983282, 1, 'Fight Club (1999)',
        'Action|Crime|Drama|Thriller', 137523, 5.630898475646973],
       dtype=object),
 array([0, 2783, 5.0, 964982363, 1, 'Shaft (1971)',
        'Action|Crime|Drama|Thriller', 67741, 5.630898475646973],
       dtype=object),
 array([0, 2669, 5.0, 964980668, 1, 'Gladiator (2000)',
        'Action|Adventure|Drama', 172495, 5.628239154815674], dtype=object),
 array([0, 1297, 5.0, 964981125, 1, 'Big Lebowski, The (1998)',
        'Comedy|Crime', 118715, 5.625524520874023], dtype=object),
 array([0, 1787, 5.0, 964983123, 1, 'Very Bad Things (1998)',
        'Comedy|Crime', 124198, 5.625524520874023], dtype=object),
 array([0, 1881, 5.0, 964981278, 1, 'Office Space (1999)', 'Comedy|Crime',
        151804, 5.625524520874023], dtype=object),
 array([0, 1944, 5.0, 964983000, 1, 'Go (1999)', 'Comedy|Crime', 139239,
        5.625524520874023], dtype=object),
 array([0, 2431, 3.0, 964983108, 1, 'Sister Act (1992)', 'Comedy|Crime',
        105417, 5.625524520874023], dtype=object),
 array([0, 919, 2.0, 964983393, 1, 'Psycho (1960)', 'Crime|Horror', 54215,
        5.620250701904297], dtype=object),
 array([0, 510, 4.0, 964983793, 1, 'Silence of the Lambs, The (1991)',
        'Crime|Horror|Thriller', 102926, 5.613201141357422], dtype=object),
 array([0, 1789, 2.0, 964983094, 1, 'Psycho (1998)',
        'Crime|Horror|Thriller', 155975, 5.613201141357422], dtype=object),
 array([0, 1989, 4.0, 964983414, 1, 'Frankenstein (1931)',
        'Drama|Horror|Sci-Fi', 21884, 5.607375144958496], dtype=object),
 array([0, 1552, 5.0, 964982838, 1, 'Rescuers, The (1977)',
        'Adventure|Animation|Children|Crime|Drama', 76618,
        5.587189197540283], dtype=object),
 array([0, 1219, 4.0, 964983056, 1, 'Kiss the Girls (1997)',
        'Crime|Drama|Mystery|Thriller', 119468, 5.571560859680176],
       dtype=object),
 array([0, 1332, 4.0, 964983056, 1, 'Wild Things (1998)',
        'Crime|Drama|Mystery|Thriller', 120890, 5.571560859680176],
       dtype=object),
 array([0, 2245, 4.0, 964983034, 1, 'RoboCop (1987)',
        'Action|Crime|Drama|Sci-Fi|Thriller', 93870, 5.569821357727051],
       dtype=object),
 array([0, 2575, 5.0, 964984054, 1, 'Good Morning, Vietnam (1987)',
        'Comedy|Drama|War', 93105, 5.560024738311768], dtype=object),
 array([0, 1059, 3.0, 964982653, 1, 'Batman Returns (1992)',
        'Action|Crime', 103776, 5.557749271392822], dtype=object),
 array([0, 1969, 4.0, 964983080, 1, 'Dick Tracy (1990)', 'Action|Crime',
        99422, 5.557749271392822], dtype=object),
 array([0, 2018, 5.0, 964981855, 1, 'Run Lola Run (Lola rennt) (1998)',
        'Action|Crime', 130827, 5.557749271392822], dtype=object),
 array([0, 786, 5.0, 964982855, 1, 'Dumbo (1941)',
        'Animation|Children|Drama|Musical', 33563, 5.550171375274658],
       dtype=object),
 array([0, 1995, 3.0, 964983426, 1,
        'Rocky Horror Picture Show, The (1975)',
        'Comedy|Horror|Musical|Sci-Fi', 73629, 5.547881603240967],
       dtype=object),
 array([0, 461, 5.0, 964984002, 1, "Schindler's List (1993)", 'Drama|War',
        108052, 5.542916297912598], dtype=object),
 array([0, 828, 4.0, 964984018, 1, 'Platoon (1986)', 'Drama|War', 91763,
        5.542916297912598], dtype=object),
 array([0, 922, 5.0, 964981909, 1, 'Full Metal Jacket (1987)', 'Drama|War',
        93058, 5.542916297912598], dtype=object),
 array([0, 2300, 5.0, 964984086, 1,
        'Messenger: The Story of Joan of Arc, The (1999)', 'Drama|War',
        151137, 5.542916297912598], dtype=object),
 array([0, 835, 5.0, 964981680, 1, 'E.T. the Extra-Terrestrial (1982)',
        'Children|Drama|Sci-Fi', 83866, 5.53800630569458], dtype=object),
 array([0, 1223, 5.0, 964983504, 1, 'Game, The (1997)',
        'Drama|Mystery|Thriller', 119174, 5.5332183837890625], dtype=object),
 array([0, 2391, 1.0, 964983504, 1, 'Talented Mr. Ripley, The (1999)',
        'Drama|Mystery|Thriller', 134119, 5.5332183837890625], dtype=object),
 array([0, 2522, 5.0, 964983484, 1, 'JFK (1991)', 'Drama|Mystery|Thriller',
        102138, 5.5332183837890625], dtype=object),
 array([0, 62, 3.0, 964982400, 1, 'From Dusk Till Dawn (1996)',
        'Action|Comedy|Horror|Thriller', 116367, 5.529263496398926],
       dtype=object),
 array([0, 1596, 5.0, 964982791, 1, 'Secret of NIMH, The (1982)',
        'Adventure|Animation|Children|Drama', 84649, 5.5239338874816895],
       dtype=object),
 array([0, 2075, 5.0, 964982703, 1, 'Iron Giant, The (1999)',
        'Adventure|Animation|Children|Drama|Sci-Fi', 129167,
        5.514673233032227], dtype=object),
 array([0, 1915, 5.0, 964981265, 1,
        'Lock, Stock & Two Smoking Barrels (1998)',
        'Comedy|Crime|Thriller', 120735, 5.51155948638916], dtype=object),
 array([0, 1525, 5.0, 964982400, 1, 'Negotiator, The (1998)',
        'Action|Crime|Drama|Mystery|Thriller', 120768, 5.511319160461426],
       dtype=object),
 array([0, 1492, 5.0, 964980523, 1, 'Bambi (1942)',
        'Animation|Children|Drama', 34492, 5.5023322105407715],
       dtype=object),
 array([0, 2283, 5.0, 964983762, 1, 'Spaceballs (1987)', 'Comedy|Sci-Fi',
        94012, 5.487302780151367], dtype=object),
 array([0, 197, 5.0, 964981179, 1,
        'Dumb & Dumber (Dumb and Dumber) (1994)', 'Adventure|Comedy',
        109686, 5.469032287597656], dtype=object),
 array([0, 1857, 5.0, 964982588, 1, 'Crocodile Dundee (1986)',
        'Adventure|Comedy', 90555, 5.469032287597656], dtype=object),
 array([0, 1690, 4.0, 964982310, 1, 'Rush Hour (1998)',
        'Action|Comedy|Crime|Thriller', 120812, 5.46375036239624],
       dtype=object),
 array([0, 97, 4.0, 964982176, 1, 'Braveheart (1995)', 'Action|Drama|War',
        112573, 5.460594654083252], dtype=object),
 array([0, 908, 4.0, 964983250, 1, 'Apocalypse Now (1979)',
        'Action|Drama|War', 78788, 5.460594654083252], dtype=object),
 array([0, 1406, 5.0, 964981497, 1,
        'All Quiet on the Western Front (1930)', 'Action|Drama|War', 20629,
        5.460594654083252], dtype=object),
 array([0, 1502, 4.0, 964981888, 1, 'Saving Private Ryan (1998)',
        'Action|Drama|War', 120815, 5.460594654083252], dtype=object),
 array([0, 1825, 5.0, 964982242, 1, 'Thin Red Line, The (1998)',
        'Action|Drama|War', 120863, 5.460594654083252], dtype=object),
 array([0, 2213, 5.0, 964981872, 1, 'Dirty Dozen, The (1967)',
        'Action|Drama|War', 61578, 5.460594654083252], dtype=object),
 array([0, 2307, 4.0, 964981872, 1, 'Longest Day, The (1962)',
        'Action|Drama|War', 56197, 5.460594654083252], dtype=object),
 array([0, 2569, 5.0, 964982328, 1, 'Red Dawn (1984)', 'Action|Drama|War',
        87985, 5.460594654083252], dtype=object),
 array([0, 914, 4.0, 964981855, 1, 'Alien (1979)', 'Horror|Sci-Fi', 78748,
        5.45536994934082], dtype=object),
 array([0, 5, 4.0, 964982224, 1, 'Heat (1995)', 'Action|Crime|Thriller',
        113277, 5.453032493591309], dtype=object),
 array([0, 509, 4.0, 964982271, 1, 'Batman (1989)',
        'Action|Crime|Thriller', 96895, 5.453032493591309], dtype=object),
 array([0, 2797, 4.0, 964980694, 1, 'Shaft (2000)',
        'Action|Crime|Thriller', 162650, 5.453032493591309], dtype=object),
 array([0, 1992, 5.0, 964983393, 1, 'Wolf Man, The (1941)',
        'Drama|Fantasy|Horror', 34398, 5.444125175476074], dtype=object),
 array([0, 2256, 4.0, 964980896, 1, 'Being John Malkovich (1999)',
        'Comedy|Drama|Fantasy', 120601, 5.442379951477051], dtype=object),
 array([0, 968, 5.0, 964983705, 1, 'Back to the Future (1985)',
        'Adventure|Comedy|Sci-Fi', 88763, 5.426605224609375], dtype=object),
 array([0, 1841, 4.0, 964982620, 1, 'Howard the Duck (1986)',
        'Adventure|Comedy|Sci-Fi', 91225, 5.426605224609375], dtype=object),
 array([0, 1182, 3.0, 964981125, 1, 'Men in Black (a.k.a. MIB) (1997)',
        'Action|Comedy|Sci-Fi', 119654, 5.420446395874023], dtype=object),
 array([0, 2036, 5.0, 964983414, 1,
        'Ghostbusters (a.k.a. Ghost Busters) (1984)',
        'Action|Comedy|Sci-Fi', 87332, 5.420446395874023], dtype=object),
 array([0, 2457, 5.0, 964983536, 1, 'Scream 3 (2000)',
        'Comedy|Horror|Mystery|Thriller', 134084, 5.417866230010986],
       dtype=object),
 array([0, 1153, 5.0, 964981107, 1,
        'Austin Powers: International Man of Mystery (1997)',
        'Action|Adventure|Comedy', 118655, 5.405088901519775], dtype=object),
 array([0, 1234, 3.0, 964983536, 1,
        'I Know What You Did Last Summer (1997)',
        'Horror|Mystery|Thriller', 119345, 5.402256965637207], dtype=object),
 array([0, 1742, 2.0, 964983546, 1,
        'I Still Know What You Did Last Summer (1998)',
        'Horror|Mystery|Thriller', 130018, 5.402256965637207], dtype=object),
 array([0, 314, 4.0, 964980962, 1, 'Forrest Gump (1994)',
        'Comedy|Drama|Romance|War', 109830, 5.399484634399414],
       dtype=object),
 array([0, 1486, 4.0, 964984176, 1, 'Back to the Future Part III (1990)',
        'Adventure|Comedy|Sci-Fi|Western', 99088, 5.398343563079834],
       dtype=object),
 array([0, 89, 5.0, 964980868, 1, 'Bottle Rocket (1996)',
        'Adventure|Comedy|Crime|Romance', 115734, 5.398281574249268],
       dtype=object),
 array([0, 1516, 5.0, 964982791, 1, 'Great Mouse Detective, The (1986)',
        'Action|Animation|Children|Crime', 91149, 5.395730972290039],
       dtype=object),
 array([0, 1598, 5.0, 964982838, 1, 'American Tail, An (1986)',
        'Adventure|Animation|Children|Comedy', 90633, 5.390286445617676],
       dtype=object),
 array([0, 124, 5.0, 964984041, 1, 'Rob Roy (1995)',
        'Action|Drama|Romance|War', 114287, 5.38759708404541], dtype=object),
 array([0, 924, 5.0, 964984018, 1, 'Henry V (1989)',
        'Action|Drama|Romance|War', 97499, 5.38759708404541], dtype=object),
 array([0, 1260, 3.0, 964982620, 1, 'Starship Troopers (1997)',
        'Action|Sci-Fi', 120201, 5.383000373840332], dtype=object),
 array([0, 1985, 5.0, 964982620, 1, 'Superman II (1980)', 'Action|Sci-Fi',
        81573, 5.383000373840332], dtype=object),
 array([0, 1542, 5.0, 964982838, 1, 'Jungle Book, The (1967)',
        'Animation|Children|Comedy|Musical', 61852, 5.367709159851074],
       dtype=object),
 array([0, 1970, 2.0, 964982588, 1, 'Mummy, The (1999)',
        'Action|Adventure|Comedy|Fantasy|Horror|Thriller', 120616,
        5.35930871963501], dtype=object),
 array([0, 801, 5.0, 964982400, 1, 'Ghost and the Darkness, The (1996)',
        'Action|Adventure', 116409, 5.358981132507324], dtype=object),
 array([0, 899, 5.0, 964981827, 1,
        'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
        'Action|Adventure', 82971, 5.358981132507324], dtype=object),
 array([0, 989, 5.0, 964981909, 1,
        'Indiana Jones and the Last Crusade (1989)', 'Action|Adventure',
        97576, 5.358981132507324], dtype=object),
 array([0, 484, 4.0, 964982653, 1, 'Three Musketeers, The (1993)',
        'Action|Adventure|Comedy|Romance', 108333, 5.357233047485352],
       dtype=object),
 array([0, 1805, 4.0, 964982310, 1, 'Romancing the Stone (1984)',
        'Action|Adventure|Comedy|Romance', 88011, 5.357233047485352],
       dtype=object),
 array([0, 2284, 5.0, 964982791, 1, 'Robin Hood (1973)',
        'Adventure|Animation|Children|Comedy|Musical', 70608,
        5.355965614318848], dtype=object),
 array([0, 1767, 4.0, 964982462, 1, 'King Kong (1933)',
        'Action|Adventure|Fantasy|Horror', 24216, 5.3540449142456055],
       dtype=object),
 array([0, 224, 5.0, 964981680, 1,
        'Star Wars: Episode IV - A New Hope (1977)',
        'Action|Adventure|Sci-Fi', 76759, 5.352565288543701], dtype=object),
 array([0, 275, 3.0, 964982310, 1, 'Stargate (1994)',
        'Action|Adventure|Sci-Fi', 111282, 5.352565288543701], dtype=object),
 array([0, 897, 5.0, 964981827, 1,
        'Star Wars: Episode V - The Empire Strikes Back (1980)',
        'Action|Adventure|Sci-Fi', 80684, 5.352565288543701], dtype=object),
 array([0, 910, 5.0, 964980499, 1,
        'Star Wars: Episode VI - Return of the Jedi (1983)',
        'Action|Adventure|Sci-Fi', 86190, 5.352565288543701], dtype=object),
 array([0, 1556, 5.0, 964982653, 1, 'Rocketeer, The (1991)',
        'Action|Adventure|Sci-Fi', 102803, 5.352565288543701], dtype=object),
 array([0, 1566, 4.0, 964981725, 1, 'Tron (1982)',
        'Action|Adventure|Sci-Fi', 84827, 5.352565288543701], dtype=object),
 array([0, 1902, 3.0, 964982328, 1, "Logan's Run (1976)",
        'Action|Adventure|Sci-Fi', 74812, 5.352565288543701], dtype=object),
 array([0, 1977, 4.0, 964980523, 1,
        'Star Wars: Episode I - The Phantom Menace (1999)',
        'Action|Adventure|Sci-Fi', 120915, 5.352565288543701], dtype=object),
 array([0, 1984, 4.0, 964982377, 1, 'Superman (1978)',
        'Action|Adventure|Sci-Fi', 78346, 5.352565288543701], dtype=object),
 array([0, 2759, 5.0, 964983737, 1, 'Mad Max (1979)',
        'Action|Adventure|Sci-Fi', 79501, 5.352565288543701], dtype=object),
 array([0, 2831, 5.0, 964981855, 1, 'X-Men (2000)',
        'Action|Adventure|Sci-Fi', 120903, 5.352565288543701], dtype=object),
 array([0, 938, 5.0, 964983723, 1, 'Terminator, The (1984)',
        'Action|Sci-Fi|Thriller', 88247, 5.336582183837891], dtype=object),
 array([0, 1937, 5.0, 964981888, 1, 'Matrix, The (1999)',
        'Action|Sci-Fi|Thriller', 133093, 5.336582183837891], dtype=object),
 array([0, 2631, 4.0, 964982271, 1, 'Predator (1987)',
        'Action|Sci-Fi|Thriller', 93773, 5.336582183837891], dtype=object),
 array([0, 367, 3.0, 964982363, 1, 'Blown Away (1994)', 'Action|Thriller',
        109303, 5.335945129394531], dtype=object),
 array([0, 1754, 5.0, 964983861, 1, 'Enemy of the State (1998)',
        'Action|Thriller', 120660, 5.335945129394531], dtype=object),
 array([0, 418, 4.0, 964982346, 1, 'Jurassic Park (1993)',
        'Action|Adventure|Sci-Fi|Thriller', 107290, 5.325185298919678],
       dtype=object),
 array([0, 615, 3.0, 964984086, 1, 'Independence Day (a.k.a. ID4) (1996)',
        'Action|Adventure|Sci-Fi|Thriller', 116629, 5.325185298919678],
       dtype=object),
 array([0, 855, 4.0, 964982513, 1, 'Abyss, The (1989)',
        'Action|Adventure|Sci-Fi|Thriller', 96754, 5.325185298919678],
       dtype=object),
 array([0, 2191, 4.0, 964982290, 1, 'Total Recall (1990)',
        'Action|Adventure|Sci-Fi|Thriller', 100802, 5.325185298919678],
       dtype=object),
 array([0, 2760, 5.0, 964981909, 1, 'Road Warrior, The (Mad Max 2) (1981)',
        'Action|Adventure|Sci-Fi|Thriller', 82694, 5.325185298919678],
       dtype=object),
 array([0, 920, 5.0, 964981909, 1, 'Blues Brothers, The (1980)',
        'Action|Comedy|Musical', 80455, 5.32197380065918], dtype=object),
 array([0, 592, 4.0, 964982400, 1, 'Rock, The (1996)',
        'Action|Adventure|Thriller', 117500, 5.3206787109375], dtype=object),
 array([0, 1170, 4.0, 964982620, 1, 'Con Air (1997)',
        'Action|Adventure|Thriller', 118880, 5.3206787109375], dtype=object),
 array([0, 2215, 5.0, 964982176, 1, 'Goldfinger (1964)',
        'Action|Adventure|Thriller', 58150, 5.3206787109375], dtype=object),
 array([0, 2216, 5.0, 964982191, 1, 'From Russia with Love (1963)',
        'Action|Adventure|Thriller', 57076, 5.3206787109375], dtype=object),
 array([0, 2217, 5.0, 964981888, 1, 'Dr. No (1962)',
        'Action|Adventure|Thriller', 55928, 5.3206787109375], dtype=object),
 array([0, 2251, 5.0, 964982271, 1, 'Live and Let Die (1973)',
        'Action|Adventure|Thriller', 70328, 5.3206787109375], dtype=object),
 array([0, 2253, 5.0, 964982242, 1, 'Thunderball (1965)',
        'Action|Adventure|Thriller', 59800, 5.3206787109375], dtype=object),
 array([0, 2708, 4.0, 964982271, 1, 'Man with the Golden Gun, The (1974)',
        'Action|Adventure|Thriller', 71807, 5.3206787109375], dtype=object),
 array([0, 1145, 4.0, 964980985, 1, 'Grosse Pointe Blank (1997)',
        'Comedy|Crime|Romance', 119229, 5.3160834312438965], dtype=object),
 array([0, 46, 5.0, 964982931, 1, 'Usual Suspects, The (1995)',
        'Crime|Mystery|Thriller', 114814, 5.314119338989258], dtype=object),
 array([0, 827, 5.0, 964982951, 1, 'Reservoir Dogs (1992)',
        'Crime|Mystery|Thriller', 105236, 5.314119338989258], dtype=object),
 array([0, 830, 5.0, 964983484, 1, 'Basic Instinct (1992)',
        'Crime|Mystery|Thriller', 103772, 5.314119338989258], dtype=object),
 array([0, 559, 3.0, 964981775, 1, 'Space Jam (1996)',

In [685]:
data.head()

,userId,movieId,rating,timestamp,Train,title,genres,imdbId,prediction
0,0,0,4.0,964982703,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,5.266891
1,0,2,4.0,964981247,1,Grumpier Old Men (1995),Comedy|Romance,113228,4.941928
2,0,5,4.0,964982224,1,Heat (1995),Action|Crime|Thriller,113277,5.453032
3,0,43,5.0,964983815,1,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,114369,5.077784
4,0,46,5.0,964982931,1,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814,5.314119

### **Movie Info**

In [575]:
def movie_info(movie_id):
    try:
        return movies[movies.movieId == movie_id].values[0]
    except:
        return None

In [576]:
movie_info(99)

array([99, 'Heidi Fleiss: Hollywood Madam (1995)', 'Documentary'],
      dtype=object)

### **Most Similar Movies**

In [581]:
def adjusted_cosine_sim(vec_a, vec_b):

    a_avg = np.average(vec_a)
    b_avg = np.average(vec_b)
    
    sim_score = np.dot(vec_a - a_avg, vec_b - b_avg) / (np.linalg.norm(vec_a - a_avg) * np.linalg.norm(vec_b - b_avg))

    return sim_score

In [604]:
complete_train_df

,userId,movieId,rating,timestamp,Train,title,genres,imdbId
0,0,0,4.0,964982703,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
1,0,2,4.0,964981247,1,Grumpier Old Men (1995),Comedy|Romance,113228
2,0,5,4.0,964982224,1,Heat (1995),Action|Crime|Thriller,113277
3,0,43,5.0,964983815,1,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,114369
4,0,46,5.0,964982931,1,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814
...,...,...,...,...,...,...,...,...
100221,609,9380,4.0,1493879365,1,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi,3748528
100222,609,9381,4.0,1493848402,1,Split (2017),Drama|Horror|Thriller,4972582
100223,609,9405,5.0,1493850091,1,John Wick: Chapter Two (2017),Action|Crime|Thriller,4425200
100224,609,9406,5.0,1494273047,1,Get Out (2017),Horror,5052448
100225,609,9407,5.0,1493846352,1,Logan (2017),Action|Sci-Fi,3315342

In [609]:
def most_sim(mid):
    sim_movies = []
    all_info = []
    utility_matrix = history
    for j in range(utility_matrix.shape[1]):
        sim_movies.append((j + 1, adjusted_cosine_sim(utility_matrix.iloc[:, mid - 1], utility_matrix.iloc[:, j])))
    
    sim_movies = sorted(sim_movies, key=lambda x: x[1], reverse=True)
    
    for mov in sim_movies:
        ret = complete_train_df[complete_train_df.movieId == mov]
        if ret is None:
            all_info.append((mov))
        else:
            all_info.append(ret)
    return all_info

In [747]:
def get_image(movie_id):
    try:
        return f"Images/{movie_id}.jpg"
    except:
        return "img.jpg"

In [748]:
get_image(3825)

'Images/3825.jpg'

--------------------------

### **Scarping Images**

In [ ]:
from selenium import webdriver
import pandas as pd
import urllib
driver = webdriver.Chrome()
for imdb_id, movie_id in zip(links.imdbId.unique()[2646:], links.movieId.unique()[2646:]):
    i = 7 - len(str(imdb_id))
    imdb = "0" * i + str(imdb_id)
    driver.get(f"https://www.imdb.com/title/tt{imdb}/")
    url = driver.find_element("xpath", "//img[@class='ipc-image']")
    url = url.get_attribute('src')
    urllib.request.urlretrieve(str(url),f"./Images/{movie_id}.jpg")
driver.quit()